
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;/*it is neccessary to use this in universal selector that font-family is imported font .*/
}
.option_active{
    background-color: rgba(182, 199, 213, 0.63);
    border-radius: 5px;
    padding:3px;
}
.wrapper{
    background: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
    padding: 30px;
    font-weight: 1500;/*relative values like bold bolder or xx-large appears to not work with heading tags as low values ,use digits*/
    font-size: 40px;
    text-transform: uppercase;
    color:white;
}
.container{
    max-width: calc(98% - 40px);/*space is very important*/
    width:530px;
    margin:0 auto;
}

.options{
    margin-block: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color:white;
    letter-spacing: 1px;
    font-weight: bold;
}
.p{
    cursor: pointer;
}
.grant_body{
     margin-top: 70px;
    flex-direction: column;
    align-items: center;
    gap:20px;
     color:white;
    display: none;
}
.grant_body.active{
     display:flex;
}
.grant_body h2{
    font-size:2rem;
}

.grant_body button{
    background-color:  #498ad4;
    font-size:1.1rem;
    padding:12px 20px 12px 20px;
    cursor: pointer;
    border:none;
    color:white;
    border-radius: 5px;
    transition:transform 0.1s ;
}
.grant_body button:active{
    transform:scale(0.95);
}
.search_form{
    display: none;
    color:white;
}
.search_form.active{
    display:block;
     
}
.search_form.active input{
    all:unset;
    width: 80%;
    height: 40px;
    padding: 0 20px;
    background-color:rgba(219, 226, 239, 0.5);
    border-radius: 10px;
    border:none;
}
.search_form.active input:focus{
    outline:2px solid white;/*outline does not take extra space but border takes extra space */
}

.search_form.active button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding:7px;
    cursor:pointer;
    background-color: black;
    transition: background-color 0.1s linear;
}

.search_form.active button:hover{
     background-color: #498ad4;
}
.loader{
    display: none;
}
.loader.active{
    display: block;
    text-align: center;
}
.data_body{
    margin-top:20px;
    display: none;
    flex-direction: column;
    align-items: center;
    color:white;
    gap:10px;
}
[city]{
    font-size: 44px;
    padding-right: 14px;
}
[description]{
    font-size:26px;
}
[icon_show]{
    width: 60px;
}

#data{
   display: flex;
   gap:7%;
   justify-content: center;
   width: 100%;
}
.data_box {
    background-color: rgba(182, 199, 213, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    height: 30%;
}
.data_body.active{
    display: flex;
}
.error_box{
    display: none;
}
.error_box.active{
    display:block;
}

@media (max-width:450px){
    .search_form.active{
        display:flex;
        gap:5%;
    }
}